@if (!inputTextObject.input) {
  <section class="output-section">
    <p>Below of the value render form parant component </p>
    <p>{{inputText}}</p>
    <input type="text" [(ngModel)]="inputText" placeholder="child value chnage to parant">
  </section>
}
@if (inputTextObject.input) {
  <section class="output-section">
    <p>Below of the value render form parant component and also update to parent</p>
    <p>{{inputTextObject['text']}}</p>
    <input type="text" [(ngModel)]="inputTextObject['text']" placeholder="Two way child value chnage to parant">
  </section>
}
@if (config.event) {
  <section class="output-section">
    <button (click)="callBackFunction()"> Click</button>
  </section>
}